<div class="container row mt-4">
   <div style="text-align: right;">
   Time: 12.00.10 

   </div>
</div>
<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10 col-lg-10">
            <div class="border">
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row justify-content-between align-items-center mcq">
                        <h4>Single choice Quetions </h4><span>({{quizquetionnumber}} of {{quetionlist.length}})</span></div>
                </div>
                <div class="question bg-white p-3 border-bottom">
                    <div class="d-flex flex-row align-items-center question-title">
                        <h3 class="text-primary">Q.</h3>
                        <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                    </div><div class="ans ml-2">
<label class="radio"> <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
</label>    
</div> 
</div>
                <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-success" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button class="btn btn-primary border-success align-items-center btn-success" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
            </div>
        </div>
    </div>
</div>


<!-- 
multiple choice quetions -->
<div class="container row mt-4">
    <div style="text-align: right;">
    Time: 12.00.10 
 
    </div>
 </div>
 <div class="container mt-5">
     <div class="d-flex justify-content-center row">
         <div class="col-md-10 col-lg-10">
             <div class="border">
                 <div class="question bg-white p-3 border-bottom">
                     <div class="d-flex flex-row justify-content-between align-items-center mcq">
                         <h4>MCQ Quiz</h4><span>({{quizquetionnumber}} of {{quetionlist.length}})</span></div>
                 </div>
                 <div class="question bg-white p-3 border-bottom">
                     <div class="d-flex flex-row align-items-center question-title">
                         <h3 class="text-primary">Q.</h3>
                         <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                     </div><div class="ans ml-2">
 <label class="radio"> <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
 </label>    
 </div><div class="ans ml-2">
 <label class="radio"> <input type="radio" name="Germany" value="Germany"> <span>Germany</span>
 </label>    
 </div><div class="ans ml-2">
 <label class="radio"> <input type="radio" name="Indonesia" value="Indonesia"> <span>Indonesia</span>
 </label>    
 </div><div class="ans ml-2">
 <label class="radio"> <input type="radio" name="Russia" value="Russia"> <span>Russia</span>
 </label>    
 </div></div>
                 <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-success" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button class="btn btn-primary border-success align-items-center btn-success" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
             </div>
         </div>
     </div>
 </div>




 <!-- 
Text Description quetions -->
<div class="container row mt-4">
    <div style="text-align: right;">
    Time: 12.00.10 
 
    </div>
 </div>
 <div class="container mt-5">
     <div class="d-flex justify-content-center row">
         <div class="col-md-10 col-lg-10">
             <div class="border">
                 <div class="question bg-white p-3 border-bottom">
                     <div class="d-flex flex-row justify-content-between align-items-center mcq">
                         <h4>Text Description Quiz</h4><span>({{quizquetionnumber}} of {{quetionlist.length}})</span></div>
                 </div>
                 <div class="question bg-white p-3 border-bottom">
                     <div class="d-flex flex-row align-items-center question-title">
                         <h3 class="text-primary">Q.</h3>
                         <h5 class="mt-1 ml-2">Which of the following country has largest population?</h5>
                     </div><div class="ans ml-2">
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Example textarea</label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
  
 </div>
</div>
<div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-success" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button class="btn btn-primary border-success align-items-center btn-success" type="button">Next<i class="fa fa-angle-right ml-2"></i></button>
</div>
            </div>
         </div>
     </div>
 </div>




 <!-- 
Fill in the Blanks quetions -->
<div class="container row mt-4">
    <div style="text-align: right;">
    Time: 12.00.10 
 
    </div>
 </div>
 <div class="container mt-5">
     <div class="d-flex justify-content-center row">
         <div class="col-md-10 col-lg-10">
             <div class="border">
                 <div class="question bg-white p-3 border-bottom">
                     <div class="d-flex flex-row justify-content-between align-items-center mcq">
                         <h4>Fill In The Blanks Quiz</h4><span>({{quizquetionnumber}} of {{quetionlist.length}})</span></div>
                 </div>
                 <div class="question bg-white p-3 border-bottom">
                     <div class="d-flex flex-row align-items-center question-title">
                         <h3 class="text-primary">Q.</h3>
                         <h5 class="mt-1 ml-2">Which of the following  _________ has largest population?</h5>
                     </div><div class="ans ml-2">
 <label class="radio"> <input type="radio" name="brazil" value="brazil"> <span>Brazil</span>
 </label>    
 </div><div class="ans ml-2">
 <label class="radio"> <input type="radio" name="Germany" value="Germany"> <span>Germany</span>
 </label>    
 </div><div class="ans ml-2">
 <label class="radio"> <input type="radio" name="Indonesia" value="Indonesia"> <span>China</span>
 </label>    
 </div><div class="ans ml-2">
 <label class="radio"> <input type="radio" name="Russia" value="Russia"> <span>Russia</span>
 </label>    
 </div></div>
                 <div class="d-flex flex-row justify-content-between align-items-center p-3 bg-white"><button class="btn btn-primary d-flex align-items-center btn-success" type="button"><i class="fa fa-angle-left mt-1 mr-1"></i>&nbsp;previous</button><button class="btn btn-primary border-success align-items-center btn-success" type="button">Next<i class="fa fa-angle-right ml-2"></i></button></div>
             </div>
         </div>
     </div>
 </div>