<div  style="padding-left :350px; margin-top: 146px;">
<div class="container mt-sm-5 my-1" style="height:auto;">
    <div class="question ml-sm-5 pl-sm-5 pt-2" >
        <div class="py-2 h5"><b>Some Rule Of This Quiz</b></div> 
        <ul>
            <li>1.You will only have <span> 15 sec</span> for each quetion</li>
            <li>1.you can't select any answer if time goes off</li>
            <li>1.you can't exit once quiz started</li>        
        </ul>      
    </div>
    <div class="d-flex align-items-right pt-3" >
        <div class="" style="padding-left :400px;" >
            <button class="btn btn-primary" (click)="ExitSubmited()" >Exit</button>
        </div>
        
        <div class="" style="padding-left :15px;" >
            <button class="btn btn-primary"  (click)="SignleChoice()" >Continue</button>
        </div>
    </div>
</div>




